$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  
    .container {
        width: 100%;

        .link {
        text-decoration: none;
        color: inherit;
        }

        //LOGIN & REGISTER
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;
      
                h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
                }
        
                form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
            
                    input {
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid gray;
                    }
            
                    button {
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        cursor: pointer;
                        color: white;
                    }
            
                    p {
                        font-size: 12px;
                        color: red;
                        text-align: center;
                    }
            
                    span {
                        font-size: 12px;
                        text-align: center;
                    }
                }
        }
          //NAVBAR
        .navbar {
            .container {
              padding: 10px 0px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .logo {
                img {
                  width: 120px;
                }
              }
              
              .links {
                display: flex;
                align-items: center;
                gap: 15px;

                    h6{
                      font-size: 16px;
                      font-weight: 300;
                      font-weight: 600;
                    }
                    form {
                    
                        input[type=search] {
                        border:1px solid gray;
                        box-sizing:border-box;
                        font-size:1.5em;
                        height:1.5em;
                        margin-top: 75px;
                        margin-left:-25vw;
                        outline:solid #fc0 0;
                        padding:.3em;
                        transition:all 2s ease-in;
                        width:30vw;
                        z-index:1;
                        }
                        
                    }
                   
                    span {
                        font-weight: 400;
                        cursor: pointer;
                    }
            }

            }
        }
/*
        .home {

            .movies {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 10px;

                .movie {
                    display: flex;
                    gap: 100px;
                    border: 2px solid rgb(70, 4, 4);
                    padding: 15px 15px;
        
                    .img {
                        flex: 2;
                        position: relative;
        
                        img {
                            width: 50%;
                            margin-left: 50px;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }
    
                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
            
                        h1 {
                            font-size: 30px;
                        }
            
                        p {
                            font-size: 18px;
                        }
                    }
            }
            }
        }
        */
        //FOOTER

        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img {
            height: 50px;
            }
        }
        
        //SINGLE
        .single {
      
            .content {

              img {
                width: 30%;
                height: 300px;
                object-fit: cover;
              }
      
      
              .edit {
                display: flex;
                gap: 7px;
      
                img {
                  width: 30px;
                  height: 30px;
                  cursor: pointer;
                }
              }
      
              h1 {
                font-size: 42px;
                color: #333;
              }
      
              p {
                text-align: justify;
                line-height: 30px;
              }
            }
            .yorum {
              flex: 3;
              height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items:flex-start;
              border: 1px solid gray;
            }

            .commentbox{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            .commenttext{
              margin: 12px 0;
              font-size: 1.15rem;
              font-weight: 600;
              color: rgb(36, 131, 131);
            }

            .inputbox{
              height: 75px;
              width: 600px;
              background-color: white;
            }
            .comment-container{
              height: 75px;
              width: 600px;
              background-color: white;
              margin-top: 10px 0;
              border-radius: 5px;
              border: 1px solid gray;
              word-break: break-all;
            }
            .commentbutton{
              height: 40px;
              width: 80px;
              margin-bottom: 10px;
              background-color: rgb(39, 149, 149);
              color: white;
              font-size: 1.05rem;
              margin-top: 10px;
              border-radius: 5px;
              border-style: none;
              cursor: pointer;
            }

          
          }


    }

}